* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}
body {
  background: #ddd;
  position: relative;
}
main{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}
.btn {
  background: #999;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
.btn:hover {
  background: #555;
  cursor: pointer;
}

#navBar {
  background: white;
  display: flex;
  padding: 5px 0;
}
#logoLink {
  align-self: center;
  margin-left: 20px;
}
#logo {
  background: url("https://via.placeholder.com/50/999/999");
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#nav {
  align-self: center;
  margin-right: 20px;
}
#nav a {
  text-decoration: none;
}
#logo img {
  border-radius: 50%;
}


#hero {
  width: 100%;
  position: relative;
}
#heroImg {
  color: white;
  background: url("https://via.placeholder.com/1920x1080/999/999");
  background-size: cover;
  background-position: center center;
  height: 150px;
  padding: 50px;
}
.textSect {
  margin: 50px 50px;
  line-height: 3rem;
}

#footer {
  background: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  padding: 10px;
}
.socialImg {
  border-radius: 5px;
}


/* Sign Up / Log In / New Favor Forms */

.inputData {
  margin: 20px;
}
.inputData input, .inputData textarea {
  display: block;
  color: #ccc;
  border: 2px solid #ccc;
  padding: 10px;
  width: 75%;
  border-radius: 5px;
}
#signUpForm fieldset, #logInForm fieldset, #newFavorForm fieldset{
  margin: 20px 50px;
  border-radius: 5px;
  background: white;
  border: none;
}
#signUpForm legend, #logInForm legend, #newFavorForm legend {
  background: #999;
  padding: 20px 50px;
  color: white;
  border-radius: 5px;
}


/* PROFILE PAGE */

#rank {
  background: #999;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  margin: 20px auto;
}

#favorDisplay {
  display: flex;
  margin: 20px auto;
}
#favorsDone {
  background: green;
  padding: 50px;
  border-radius: 15px;
}
#favorsAsked {
  background: cadetblue;
  padding: 50px;
  border-radius: 15px;
}

/* FAVORS PAGE */
#favorList {
  margin: 20px 50px;
  background: #999;
  padding: 1px;
  border-radius: 5px;
}
.favor{
  background: white;
  border-radius: 5px;
  display: flex;
  padding: 20px 0;
  width: 80%;
  margin: 20px auto;
}
.favorAsker {
  background: url("https://via.placeholder.com/50/770000/fff?text=FL");
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.favorSettings {
  display: flex;
  flex-direction: column;
}
.succeed {
  background: limegreen;
  width: 100px;
}
.fail {
  background: crimson;
  width: 100px;
}

/* NEW FAVOR FORM */
